.single {
	&__article {
		&__header {}

		&__content {}

		&__footer {}
	}

	.footer {
		.post-navigation {
			.nav-links {
				position: relative;

				.nav-next,
				.nav-previous {
					position: absolute;
					top: 0;
					left: 0;
				}

				.nav-next {
					right: 0;
					left: unset;
				}
			}
		}
	}
}
