.homepage {
	&__content {
		.suit {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			align-content: center;
			position: relative;
			min-height: calc(100vh - (var(--section-padding) * 2));
			border: 1px solid;

			#position_set {
				width: 6px;
				height: 6px;
				background: red;
			}

			&__item {
				margin-right: var(--grid-gutter);
				margin-bottom: var(--grid-gutter);
				flex: 1 1 calc(50% - (var(--grid-gutter)) / 2);
				height: calc(50vh - (var(--section-padding) * 1.6));
				border: 1px solid;
				position: absolute;
				display: none;
				&:nth-child(1) {
					margin-right: 0;
					transform-origin: 100% 100%;
					right: 0;
					bottom: 0;
				}
				svg {
					width: 100%;
					height: auto;
					max-height: 100%;
				}
			}
		}
	}
}
