.main-header__menu {
	display: flex;
	align-items: stretch;

	.menu-toggle {
		display: none;
	}

	.menu-main {
		&-menu-container {
			display: flex;
			align-items: stretch;

			ul.menu {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;

				>li {
					flex: 0 0 auto;
					margin-right: 6px;
					a {
						text-transform: uppercase;
					}

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
}
