<nav class="main-header__menu main-menu" role="navigation">
	<button type="button" class="menu-toggle"><span class="menu-icon">☰</span><span class="menu-text screen-reader-text"> Menu</span></button>
	<div class="menu-main-menu-container">
		<ul id="menu-main-menu" class="menu">
			<li id="menu-item-2035" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-2035"><a href="http://dev.starchenkov.pro/">Главная</a></li>
			<li id="menu-item-2036" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2036"><a href="http://dev.starchenkov.pro/ab-sunt-ut-et-at-unde/">Просто страница</a></li>
			<li id="menu-item-2037" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2037"><a href="http://dev.starchenkov.pro/asperiores-non-explicabo-at/">На всю ширину</a></li>
			<li id="menu-item-2038" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-2038"><a href="http://dev.starchenkov.pro/no-category/">Много записей</a></li>
			<li id="menu-item-2039" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2039"><a href="http://dev.starchenkov.pro/standart/">Мало записей</a></li>
			<li id="menu-item-2040" class="menu-item menu-item-type-post_type menu-item-object-post current-menu-item menu-item-2040"><a href="http://dev.starchenkov.pro/no-category/qui-praesentium-nam-quas-voluptas/" aria-current="page">Отдельная запись</a></li>
		</ul>
	</div>
</nav>
