::-webkit-scrollbar {
	width: 0.5em;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.3);
}

button, .wp-block-button a {
	border: 1px solid var(--color-text);
	padding: 0 3px;
}
