.main-header {
	justify-content: space-between;

	&__branding {
		&__title {
			a {

				&:focus,
				&:hover,
				&:active,
				&:visited {
					color: inherit;
				}
			}
		}
	}

	&__search {
		display: flex;
		align-items: center;
	}
}
