main article {
	line-height: 1.6;

	ol {
		li {
			margin-left: 1em;
		}
	}

	a {
		color: var(--color-link);
	}

	p {
		margin-bottom: 0.85em;
	}

	ul {
		li {
			list-style: disc;
			list-style-position: inside;
		}
	}

	pre {
		white-space: normal;
	}
}
